.image {
    width: 100%;
    height: 100%;
    aspect-ratio: 3/4;
    object-fit: fill;
    object-position: center;
    margin-top: 10px;
    padding: 4px;
}

.title {
    width: 100%;
    font-size: 25px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 4px;
    padding: 4px;
}

.summary {
    width: 100%;
    font-size: 18px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: justify;
    text-indent: 5%;
    margin-top: 4px;
}